<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Today's papers</title>
    </head>
    <link rel="stylesheet" href="/static/style_main.css">
    <body>
        <div class="container">
            <h1>Today's Paper</h1>
            <form action="/todayspaper/search" method="GET">
                <p>
                    <input type="text" name="keyword" placeholder="Enter a Keyword">
                    <input type="submit" value="search">
                </p>
            </form>
        </div>
    </body>
</html>